# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=YOUR_SUPABASE_URL

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=YOUR_SUPABASE_DIRECT_URL

PORT=8000
FRONTEND_URL="https://localhost:3000"